*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    border: 1px solid green;
}
input{
    width: 70%;
    padding: 10px;
    margin: 5px 2px;
}
button{
    border: none;
    margin: 5px 10px;
    padding: 8px 15px;
    background-color: teal;
    color: aliceblue;
}
a{
    text-decoration: none;
    padding: 5px 3px;
    color: blue;
}
p{
    color: red;
    padding: 5px 3px;
}