*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.scoreBoard{
    border: 1px solid rgb(39, 21, 21);
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin: 10px;
    box-shadow: 5px 2px 5px 1px black;
}
.scoreBoard p{
    color: rgb(32, 8, 99);
    padding: 10px 5px;
    font-size: 20px;
}
.scoreBoard p button{
    border-radius: 5px;
    font-size: 15px;
    color: rgb(245, 244, 244);
    padding: 8px 15px;
    border: none;
    background-color: teal;
}
.main{
    width: 100%;
    height: auto;
    margin: 0px auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
