

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: cursive;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: salmon;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 45%;
    height: 20rem;
    border-radius: 5px;
    background-color: lightpink;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.textArea{
    width: 80%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1{
    margin-bottom: 20px;
   
}
#text{
    width: 100%;
    height: 10rem;
    border: 2px solid rgb(12, 12, 12);
    padding: 20px;
    font-size: 20px;
}
#result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    justify-content: space-evenly;
}
#res1{
    color: rgb(65, 70, 70);
    font-size: 20px;
    margin-right:80px;
}
#res1 span{
    color: rgb(51, 51, 219);
}
#res2{
    color: rgb(62, 66, 66);
    font-size: 20px;
    margin-left:80px;
}
#res2 span{
    color: rgb(236, 14, 43);
}