*{
    margin: 0px;
    padding: 0px;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(227, 241, 176);
}
select{
    color: rgb(23, 12, 177);
    padding: 10px;
    font-size: 16px;
    background-color: rgba(191, 224, 206, 0.384);
    border-radius: 5px;
    border: 1px solid rgba(206, 54, 193, 0.644);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
    margin: 0px auto;
}
label{
    color: rgb(10, 82, 13);
    margin: 25px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
}
td{
    padding: 5px;
}