*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* background-color: rgba(226, 116, 230, 0.562); */
}
.mainDiv{
    /* width: 100%; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}